{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var talltales_init = "{{=URL('api', 'init_talltales')}}";
    var talltales_addplayer = "{{=URL('api', 'add_player_talltales')}}";
    var talltales_removeplayer = "{{=URL('api', 'remove_player_talltales')}}";
    var talltales_getgamestate = "{{=URL('api', 'retrieve_gamestate_talltales')}}";
    var talltales_updategamestate = "{{=URL('api', 'update_gamestate_talltales')}}";
    var talltales_getgames = "{{=URL('api', 'get_games_talltales')}}";
    var talltales_lobby = "{{=URL('talltales', 'game')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        {{if auth.user is None:}}

        <div id="not_logged_in">
            <h1>sup, login to play</h1>
        </div>

        {{else:}}
        <div id="logged_in">
            <h1>welcome to our game site</h1>
            <a class="btn rounded" v-on:click="api_tester()">Test API Button</a>
            <a href="{{=URL('talltales', 'join')}}" class="btn rounded">tall tales</a>
            <a href="{{=URL('taboo', 'join')}}" class="btn rounded">taboo</a>
            <a href="{{=URL('typeracer', 'join')}}" class="btn rounded">typeracer</a>
            <!-- <a class="btn rounded" v-on:click="get_games_tester()">Testing getting games</a> -->
        </div>
            {{pass}}
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
