{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var add_current_user_url = "{{=URL('api', 'add_current_user')}}";
    var check_user_accounts_url = "{{=URL('api', 'check_user_accounts')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div class="container" id="main_page_container">
            {{if auth.user is None:}}

            <div id="not_logged_in" class="center">
                <h1>sup, <a href="{{=URL('default', 'user')}}" v-on:click="is_user_in_user_accounts">login</a> to play</h1>
            </div>

            {{else:}}

            <div id="vue-loadingicon">
                <i class="fa fa-spinner fa-spin"></i>
            </div>

            <div id="vue-content" style="display:none">

                <div v-if="!chosen_nickname">
                    <h1>choose a nickname:</h1>
                    <input id="nickname_input" v-model="nickname" v-on:keyup.enter="add_current_user()" type="text" placeholder="Guest">
                    <button v-on:click="add_current_user()">Submit</button>
                </div>

                <div v-if="chosen_nickname" id="logged_in" class="container center">
                    
                    <div id="tall_tales" class="third">
                        <a href="{{=URL('play', 'talltales')}}" class="btn oval" id="button_orange">
                            <h3>tall tales</h3>
                        </a>
                    </div>

                    <div id="taboo" class="third">
                        <a href="{{=URL('play', 'taboo')}}" class="btn oval" id="button_yellow">
                            <h3>taboo</h3>
                        </a>
                    </div>

                    <div id="typeracer" class="third">
                        <a href="{{=URL('play', 'typeracer')}}" class="btn oval" id="button_green">
                            <h3>typeracer</h3>
                        </a>
                    </div>

                </div>

            </div>
                {{pass}}

    
    </div>

</div>
