{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var talltales_init = "{{=URL('api', 'init_talltales')}}";
    var talltales_addplayer = "{{=URL('api', 'add_player_talltales')}}";
    var talltales_removeplayer = "{{=URL('api', 'remove_player_talltales')}}";
    var talltales_getgamestate = "{{=URL('api', 'retrieve_gamestate_talltales')}}";
    var talltales_updategamestate = "{{=URL('api', 'update_gamestate_talltales')}}";
    var talltales_getgames = "{{=URL('api', 'get_games_talltales')}}";
    var talltales_lobby = "{{=URL('talltales', 'game')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div class="container" id="main_page_container">
            {{if auth.user is None:}}

            <div id="not_logged_in" class="center">
                <h1>sup, <a href="{{=URL('default', 'user')}}">login</a> to play</h1>
            </div>

            {{else:}}
            <div id="logged_in" class="container center">
                <!--<a class="btn rounded" v-on:click="api_tester()">Test API Button</a>-->
                
                <div id="tall_tales" class="third">
                    <a href="{{=URL('talltales', 'join')}}" class="btn oval" id="button_orange">
                        <h3>tall tales</h3>
                    </a>
                </div>

                <div id="taboo" class="third">
                    <a href="{{=URL('taboo')}}" class="btn oval" id="button_yellow">
                        <h3>taboo</h3>
                    </a>
                </div>

                <div id="typeracer" class="third">
                    <a href="{{=URL('typeracer', 'join')}}" class="btn oval" id="button_green">
                        <h3>typeracer</h3>
                    </a>
                </div>

            </div>
                {{pass}}

    
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
