{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'game1')}}";
</script>
{{end}}

<div class="main_content">


    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <h1>tall tales</h1>

        <div class="container center holder">
            
            <div class="half padded holder">
                <!--Clicking the button will open a stupid.css modal-->
                <div class="play_w_friends_btn">
                    <a href="#enter_room_code"><i class="fa fa-users"></i></a>
                </div>
                <!--This is the code for the modal to enter the room code-->
                <div class="modal" id="enter_room_code">
                    <div class="twothirds white padded">
                        <h2>actual code goes here</h2>
                        <p>there will be a form here where you enter the room code</p>
                        <a class="close" href="#">x</a>
                        <div class="right">
                            <a class="close btn" href="#">close</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="half padded holder">
                <div class="play_w_world_btn">
                    <i class="fa fa-globe"></i>
                </div>
                <p>play with the world</p>
            </div>

        </div>


    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
