{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var add_player_url = "{{=URL('api', 'add_player')}}";
    var initialize_game_url = "{{=URL('api', 'initialize')}}";
    var get_games_url = "{{=URL('api', 'get_games')}}";
    var remove_player_url = "{{=URL('api', 'remove_player')}}";
    var get_gamestate_url = "{{=URL('api', 'get_gamestate')}}";
    var get_current_user_url = "{{=URL('api', 'get_current_user')}}";
    var talltales_taketurn = "{{=URL('api', 'take_turn_talltales')}}";
    var check_user_accounts_url = "{{=URL('api', 'check_user_accounts')}}";
    var talltales_turntimeout = "{{=URL('api', 'timeout_turn_talltales')}}";
    var get_nickname_url = "{{=URL('api', 'get_nickname')}}";
    var update_current_user_url = "{{=URL('api', 'update_current_user')}}";
    var set_theme_url = "{{=URL('api', 'set_theme')}}";
    var get_theme_url = "{{=URL('api', 'get_theme')}}";
</script>
{{end}}

<div class="main_content">


    <div id="vue-div" class="display:none">

        <div class="vue-loadingicon">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div class="vue-content" v-if="!is_in_game">
            <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
            
            <div v-if="!chosen_nickname" id="choose_nickname">
                <h1>choose a nickname:</h1>
                <input id="nickname_input" v-model="nickname" v-on:keyup.enter="update_current_user()" type="text" placeholder="Guest">
                <button id="nickname_submit" v-on:click="update_current_user()">Submit</button>
            </div>

            <div v-if="!chosen_theme" id="themes_square_holder">

                <h1>pick a theme:</h1>

                <div id="pink_theme" v-on:click="switch_theme(3)">
                    <div class="square" id="pink_theme_square"></div>
                    <div class="square_text">pink</div>
                </div>

                <div id="orange_theme" v-on:click="switch_theme(4)">
                    <div class="square" id="orange_theme_square"></div>
                    <div class="square_text">orange</div>
                </div>
                    
                <div id="green_theme" v-on:click="switch_theme(1)">
                    <div class="square" id="green_theme_square"></div>
                    <div class="square_text">green</div>

                </div>

                <div id="teal_theme" v-on:click="switch_theme(2)">
                    <div class="square" id="teal_theme_square"></div>
                    <div class="square_text">turquoise</div>
                </div>

                <div id="purple_theme" v-on:click="switch_theme(5)">
                    <div class="square" id="purple_theme_square"></div>
                    <div class="square_text">purple</div>
                </div>

            </div>

            <div v-if="chosen_nickname && chosen_theme">
            
                <div class="center">
                    <h1>tall tales</h1>
                </div>

                <!--Selection of Creating, Joining, or Viewing all tall tales games.-->
                <div class="container center holder">
                    <!--Create a new game-->
                    <div class="third padded holder">
                        <div class="create_new_game_btn">
                            <a href="#create_new_game"><i class="fa fa-plus"></i></a>
                            <div class="btn_text">
                                create a new game
                            </div>
                        </div>
                        <!--This is the code for the modal to create a new game-->
                        <div class="modal" id="create_new_game">
                            <div class="twothirds white padded">

                                <div class="container">
                                    <h2>create a new game</h2>
                                    <input type="text" v-model="story_title" class="fill" placeholder="Enter the title of your story.">
                                    <div class="public_or_not_tooltip">
                                        <a id="tooltip"><span data-tooltip="If you want to just play with your friends, you will be given a room code to share with them so they can join. Otherwise, strangers will be allowed to join your game.">
                                            public game?
                                        </span></a>
                                        <input type="checkbox" v-model="is_public">
                                    </div>
                                    <button v-on:click="initialize(0); toggle();">create new game</button>
                                </div>
                                <!--Buttons to close the modal-->
                                <a class="close" href="#">x</a>
                                <div class="right">
                                    <a class="close btn" href="#">close</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Enter a room code to play-->
                    <div class="third padded holder">
                        <!--Clicking the button will open a stupid.css modal-->
                        <div class="play_w_friends_btn">
                            <a href="#enter_room_code"><i class="fa fa-users"></i></a>
                            <div class="btn_text">
                                join a private game by room code
                            </div>
                        </div>
                        <!--This is the code for the modal to enter the room code-->
                        <div class="modal" id="enter_room_code">
                            <div class="twothirds white padded">
                                <div class="container">
                                    <h2>join an existing game</h2>
                                    <p>enter a room code your friend shared with you to join their game.</p>
                                    <input type="text" v-model="join_room_code" class="fill" placeholder="e.g. 123456">
                                    <button v-on:click="join_by_stored_code(0); toggle();">join game</button>
                                </div>
                                <!--Buttons to close the modal-->
                                <a class="close" href="#">x</a>
                                <div class="right">
                                    <a class="close btn" href="#">close</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Play a public game-->
                    <div class="third padded holder">
                        <!--Clicking button opens stupid.css modal, will display list of games you can join-->
                        <!--Show a list of possible games to play-->
                        <div class="play_w_world_btn" v-on:click="show_games(0)">
                            <a href="#join_public_game"><i class="fa fa-globe"></i></a>
                            <div class="btn_text">
                                join a public game
                            </div>
                        </div>
                        <!--The modal that will be opened when clicking the button above-->
                        <div class="modal" id="join_public_game">
                            <div class="twothirds white padded">
                                <h2>here are some public games you can join</h2>
                                <div class="game_container" v-if="displaying_public_games">
                                    <div v-for="game in public_games" class="game_items container" v-on:click="join_by_code(0, game.room_code); toggle();">
                                        ${game.story_text[0]}
                                    </div>
                                </div>
                                <a class="close" href="#" v-on:click="show_games">x</a>
                                <div class="right">
                                    <a class="close btn" href="#" v-on:click="show_games()">close</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            
        </div>

        <div v-else id="talltale_game_page">
            <div id="exit_button_container">
                <button id="close_game_button" v-on:click="leave_game(0); toggle();">
                    exit
                </button>
            </div>
            
            <div id="game_stuff">
                <div id="game_info_bar" v-bind:class="">
                    

                    <div class="game_info_items">
                        <p>Title of Story:</p><h5>${current_gamestate.story_text[0]}</h5>
                    </div>
                    <div class="game_info_items">
                        <p>Room Code:</p><h5>${current_gamestate.room_code}</h5>
                    </div>
                    <div class="game_info_items">
                        <p>Public Status:</p><h5>${current_gamestate.is_public}</h5>
                    </div>
                    <div class="game_info_items">
                        <p>Your Nickname:</p><h5>${nickname}</h5>
                    </div>
                    <div class="game_info_items">
                        <p>Player List:</p>
                        <div id="player_list_container">
                            <div class="players" v-for="player in current_gamestate.player_list">
                                <h6 v-if="player == current_gamestate.current_turn"
                                    style="color:red">${player}
                                </h6> 
                                <h6 v-if="player != current_gamestate.current_turn">
                                    ${player}
                                </h6> 
                            </div>
                        </div>
                        
                    </div> 
                    <div class="game_info_items">                
                        <p>Hoster:</p><h5>${current_gamestate.hoster}</h5>
                    </div>
                    

                    <!-- <p>Max Room Size: </p><h5>${current_gamestate.max_players}</h5> -->

                    <!--NOTE FROM JAKE: These 2 v-if's dont work cuz of changes to API current_turn-->
                    <!--NOTE FROM CASSIA: This works now EXCEPT I don't think it's gonna work when two people have the same nickname-->


                    <div v-if="current_gamestate.current_turn == nickname">
                        <div v-if="current_gamestate.timer_time > 10">
                            <h6 style="font-size:100px">${current_gamestate.timer_time}</h6>
                        </div>
                        <div v-else>
                            <div v-if="current_gamestate.timer_time > 5">
                                <h6 style="color:yellow;font-size:100px">
                                    ${current_gamestate.timer_time}
                                </h6>
                            </div>
                            <div v-else>
                                <div v-if="current_gamestate.timer_time > 3">
                                    <h6 style="color:orange;font-size:100px">
                                        ${current_gamestate.timer_time}
                                    </h6>
                                </div>
                                <div v-else>
                                    <h6 style="color:red;font-size:100px">
                                        ${current_gamestate.timer_time}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <h5 style="font-size:100px">${current_gamestate.timer_time}</h5>
                    </div>
                    <div v-if="current_gamestate.current_turn == nickname" id="turn">
                        <h5>it's your turn!</h5>
                    </div>                    
                </div>




                

                <div id="previous_sentence">
                    <h1>${current_story}</h1>
                    <!-- <h1>${current_gamestate.story_text}</h1>  -->
                </div>
            </div>
            
            <div id="lower_bar">
                <div id="your_sentence">
                    <input id="your_sentence_input" v-model="talltales_new_sentence" v-on:keyup.enter="talltales_submitturn" type="text" placeholder="Enter the next line of the story">
                </div>
                <div id="submit_turn" class="right">
                    <button v-on:click="talltales_submitturn">Submit Turn</button>
                </div>
            </div>
        </div>
    </div> 

</div>
