{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'game1')}}";
    var add_player_url = "{{=URL('api', 'add_player')}}";
    var initialize_game_url = "{{=URL('api', 'initialize')}}";
    var get_games_url = "{{=URL('api', 'get_games')}}";
    var remove_player_url = "{{=URL('api', 'remove_player')}}";
    var get_gamestate_url = "{{=URL('api', 'get_gamestate')}}";
    var get_current_user_url = "{{=URL('api', 'get_current_user')}}";
    var talltales_taketurn = "{{=URL('api', 'take_turn_talltales')}}";
    var check_user_accounts_url = "{{=URL('api', 'check_user_accounts')}}";
    var talltales_turntimeout = "{{=URL('api', 'timeout_turn_talltales')}}";
</script>
{{end}}

<div class="main_content">


    <div id="vue-div" class="display:none">
        <div v-if="!is_in_game">
            <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
            <div class="center">
                <h1>tall tales</h1>
            </div>

            <!--Selection of Creating, Joining, or Viewing all tall tales games.-->
            <div class="container center holder">
                <!--Create a new game-->
                <div class="third padded holder">
                    <div class="create_new_game_btn">
                        <a href="#create_new_game"><i class="fa fa-plus"></i></a>
                        <div class="btn_text">
                            create a new game
                        </div>
                    </div>
                    <!--This is the code for the modal to create a new game-->
                    <div class="modal" id="create_new_game">
                        <div class="twothirds white padded">

                            <div class="container">
                                <h2>create a new game</h2>
                                <input type="text" v-model="story_title" class="fill" placeholder="Enter the title of your story.">
                                <div class="public_or_not_tooltip">
                                    <a id="tooltip"><span data-tooltip="If you want to just play with your friends, you will be given a room code to share with them so they can join. Otherwise, strangers will be allowed to join your game.">
                                        public game?
                                    </span></a>
                                    <input type="checkbox" v-model="is_public">
                                </div>
                                <button v-on:click="initialize(0); toggle();">create new game</button>
                            </div>
                            <!--Buttons to close the modal-->
                            <a class="close" href="#">x</a>
                            <div class="right">
                                <a class="close btn" href="#">close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Enter a room code to play-->
                <div class="third padded holder">
                    <!--Clicking the button will open a stupid.css modal-->
                    <div class="play_w_friends_btn">
                        <a href="#enter_room_code"><i class="fa fa-users"></i></a>
                        <div class="btn_text">
                            join a private game by room code
                        </div>
                    </div>
                    <!--This is the code for the modal to enter the room code-->
                    <div class="modal" id="enter_room_code">
                        <div class="twothirds white padded">
                            <div class="container">
                                <h2>join an existing game</h2>
                                <p>enter a room code your friend shared with you to join their game.</p>
                                <input type="text" v-model="join_room_code" class="fill" placeholder="e.g. 123456">
                                <button v-on:click="join_by_stored_code(0); toggle();">join game</button>
                            </div>
                            <!--Buttons to close the modal-->
                            <a class="close" href="#">x</a>
                            <div class="right">
                                <a class="close btn" href="#">close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Play a public game-->
                <div class="third padded holder">
                    <!--Clicking button opens stupid.css modal, will display list of games you can join-->
                    <!--Show a list of possible games to play-->
                    <div class="play_w_world_btn" v-on:click="show_games(0)">
                        <a href="#join_public_game"><i class="fa fa-globe"></i></a>
                        <div class="btn_text">
                            join a public game
                        </div>
                    </div>
                    <!--The modal that will be opened when clicking the button above-->
                    <div class="modal" id="join_public_game">
                        <div class="twothirds white padded">
                            <h2>here are some public games you can join</h2>
                            <div class="game_container" v-if="displaying_public_games">
                                <div v-for="game in public_games" class="game_items container" v-on:click="join_by_code(0, game.room_code); toggle();">
                                    ${game.story_text[0]}
                                </div>
                            </div>
                            <a class="close" href="#" v-on:click="show_games">x</a>
                            <div class="right">
                                <a class="close btn" href="#" v-on:click="show_games()">close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else id="talltale_game_page">
            <div id="exit_button_container">
                <button id="close_game_button" v-on:click="leave_game(0); toggle();">
                    exit
                </button>
            </div>
            
            <div id="game_stuff">
                <div id="game_info_bar">
                    

                    <h5>Title of Story: ${current_gamestate.story_text[0]}</h5>
                    <h5>Room Code: ${current_gamestate.room_code}</h5>
                    <h5>Public Status: ${current_gamestate.is_public}</h5>
                    <h5>Your Player ID: {{=auth.user.id}}</h5>
                    <h5>Player List: ${current_gamestate.player_list}</h5>                    <h5>Current Turn: ${current_gamestate.current_turn}</h5>
                    <h5>Hoster: ${current_gamestate.hoster}</h5>
                    <h5>Max Room Size: ${current_gamestate.max_players}</h5>
                    <h5>Turn Time Limit (s): ${current_gamestate.turn_time_limit}</h5>
                    <h5>Time Remaining: ${current_gamestate.timer_time}</h5>
                    <div v-if="current_gamestate.current_turn == {{=auth.user.id}}" id="turn">
                        <h5>it's your turn!</h5>
                    </div>                    
                </div>    

                <div id="previous_sentence">
                    <h1>${current_story}</h1>
                    <!-- <h1>${current_gamestate.story_text}</h1>  -->
                </div>
            </div>
            
            <div id="lower_bar">
                <div id="your_sentence">
                    <input id="your_sentence_input" v-model="talltales_new_sentence" v-on:keyup.enter="talltales_submitturn" type="text" placeholder="Enter the next line of the story">
                </div>
                <div id="submit_turn" class="right">
                    <button v-on:click="talltales_submitturn">Submit Turn</button>
                </div>
            </div>
        </div>
    </div> 

</div>
