{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'game1')}}";
    var talltales_addplayer = "{{=URL('api', 'add_player_talltales')}}";
    var talltales_init = "{{=URL('api', 'init_talltales')}}";
    var talltales_getgames = "{{=URL('api', 'get_games_talltales')}}";
    var talltales_removeplayer = "{{=URL('api', 'remove_player_talltales')}}";

</script>
{{end}}

<div class="main_content">


    <div id="vue-div" class="display:none">
        <div v-if="!is_in_lobby">
            <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
            <div class="center">
                <h1>tall tales</h1>
            </div>

            <!--Selection of Creating, Joining, or Viewing all tall tales games.-->
            <div class="container center holder">
                <!--Create a new game-->
                <div class="third padded holder">
                    <div class="create_new_game_btn">
                        <a href="#create_new_game"><i class="fa fa-plus"></i></a>
                    </div>
                    <!--This is the code for the modal to create a new game-->
                    <div class="modal" id="create_new_game">
                        <div class="twothirds white padded">

                            <div class="container">
                                <h2>create a new game</h2>
                                <p>generate a room code to share with your friends</p>
                                <input type="text" v-model="initial_sentence" class="fill" placeholder="Enter the first sentence of your story.">
                                <div class="public_or_not_tooltip">
                                    <a><span data-tooltip="If you want to just play with your friends, you will be given a room code to share with them so they can join. Otherwise, strangers will be allowed to join your game.">
                                        public game?
                                    </span></a>
                                    <input type="checkbox" v-model="checkbox_is_public">
                                </div>
                                <button v-on:click="talltales_initialize()">create new game</button>
                            </div>
                            <!--Buttons to close the modal-->
                            <a class="close" href="#">x</a>
                            <div class="right">
                                <a class="close btn" href="#">close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Enter a room code to play-->
                <div class="third padded holder">
                    <!--Clicking the button will open a stupid.css modal-->
                    <div class="play_w_friends_btn">
                        <a href="#enter_room_code"><i class="fa fa-users"></i></a>
                    </div>
                    <!--This is the code for the modal to enter the room code-->
                    <div class="modal" id="enter_room_code">
                        <div class="twothirds white padded">
                            <div class="container">
                                <h2>join an existing game</h2>
                                <p>enter a room code your friend shared with you to join their game.</p>
                                <input type="text" v-model="join_room_code" class="fill" placeholder="e.g. 123456">
                                <button v-on:click="join_room_by_code">join game</button>
                            </div>
                            <!--Buttons to close the modal-->
                            <a class="close" href="#">x</a>
                            <div class="right">
                                <a class="close btn" href="#">close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Play a public game-->
                <div class="third padded holder">
                    <!--Clicking button opens stupid.css modal, will display list of games you can join-->
                    <!--Show a list of possible games to play-->
                    <div class="play_w_world_btn" v-on:click="show_games">
                        <a href="#join_public_game"><i class="fa fa-globe"></i></a>
                    </div>
                    <!--The modal that will be opened when clicking the button above-->
                    <div class="modal" id="join_public_game">
                        <div class="twothirds white padded">
                            <h2>here are some public games you can join</h2>
                            <div class="game_container" v-if="displaying_talltale_games">
                                <div v-for="game in talltales_games" class="game_items">
                                    ${game.story_text[0]}
                                </div>
                            </div>
                            <a class="close" href="#">x</a>
                            <div class="right">
                                <a class="close btn" href="#" v-on:click="show_games">close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            IN GAME
            <button v-on:click="talltales_leave()">leave game</button>
        </div>
    </div> <!-- Ends the vue div -->

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
