{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script>
    var set_nickname_url = "{{=URL('api', 'set_nickname')}}";
    var get_nickname_url = "{{=URL('api', 'get_nickname')}}";
    var check_user_accounts_url = "{{=URL('api', 'check_user_accounts')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div id="choose_nickname">
            <h1>choose a nickname:</h1>
            <input id="nickname_input" v-model="nickname" v-on:keyup.enter="set_nickname()" type="text" placeholder="nickname">
            <button id="nickname_submit" v-on:click="set_nickname()" href="{{=URL('default', 'index')}}">Submit</button>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
