/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* top nav links */
.button {
  font-size: 30px;
}

#left {
  width: 40px;
  float: left;
}

#right {
  float: right;
  width: 80px;
}

/* styling for side nav menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}

/* styling for sidenav links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  text-align: right;
}


/* styling for main page -- pushes content to the right when nav bar opens */
#main {
  transition: margin-right .5s;
}