/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/*----------------------------------------------------------------------------*/
/* LAYOUT.HTML (i.e. applicable to every page)*/
/*----------------------------------------------------------------------------*/
#main {
  transition: margin-right .5s;
}

body {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #b67fff;
  color: white;
}

a {
  color: #fff000;
}

a:hover {
  color: #fff000 !important;
}
a:not(.btn):not(.noeffect) {position:relative}
a:not(.btn):not(.noeffect):hover {color:#fff000}
a:not(.btn):not(.noeffect):hover:after {width:100%}
a:not(.btn):not(.noeffect):after {
  display:block;
  position:absolute;
  left:0;
  bottom:-1px;
  width:0;
  height:2px;
  background-color:#fff000;
  content:"";
  transition:width 0.2s;
}



/* top nav links */
.button {
  font-size: 30px;
}

#top_nav_left {
  width: 40px;
  float: left;
}

#top_nav_right {
  float: right;
  
}

/* styling for side nav menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
}

/* styling for sidenav links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  transition: 0.3s;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  text-align: right;
}

/*----------------------------------------------------------------------------*/
/* INDEX.HTML */
/*----------------------------------------------------------------------------*/
#main_page_container {
  margin: 30px;
  position: relative;
  height: 80vh;
}

#not_logged_in {
  text-align: center;
  position: absolute;
  top: 43%;
  left: -10px;
}

#logged_in {
  text-align: center;
  position: absolute;
  top: 30%;
}


#tall_tales {
  text-align: center;
}

#taboo {
  text-align: center;
}

#typeracer {
  text-align: center;
}

#button_orange {
  width: 75%;
  padding-top: 33.5%;
  padding-bottom: 33.5%;
  background-color: #ffa500;
  position: relative;

}

#button_yellow {
  width: 75%;
  padding-top: 33.5%;
  padding-bottom: 33.5%;
  background-color: #ffdd00;
  position: relative;

}

#button_green {
  width: 75%;
  padding-top: 33.5%;
  padding-bottom: 33.5%;
  background-color: #6ce547;
  position: relative;

}

/*----------------------------------------------------------------------------*/
/* START GAME OPTIONS (page after picking a game)*/
/*----------------------------------------------------------------------------*/
.holder {
  margin-left: 0px;
}

.play_w_friends_btn, .play_w_world_btn, .create_new_game_btn {
  font-size: 100px;
  text-align: center;
}

/* "create new game" modal*/
.public_or_not_tooltip {
  padding: 10px;
}


/* "join public game" modal */
.game_items {
  padding: 5px;
}

.game_items:hover {
  cursor: pointer;
  background-color: #ffdd7a;
}

/*----------------------------------------------------------------------------*/
/* PLAYING TALLTALES GAME */
/*----------------------------------------------------------------------------*/
#talltale_game_page {
  position: relative;
}

input[type=text]#your_sentence_input {
  background-color: transparent;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: 9vh;
}

::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

input[type=text]#your_sentence_input:hover {
  background-color: none !important;
}

#previous_sentence {
  margin-top: 30px;
  margin-left: 15px;
  overflow: scroll;
  height: 80vh;
}

#close_game_button {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  display: inline-block;
}

#close_game_button:hover {
  cursor: pointer;
  color: #ffdd00;
}

#close_game_button:hover + #close_game_msg {
  cursor: pointer;
  visibility: visible;
}

#close_game_msg {
  visibility: hidden;
  position: relative;
  left: 50px;
  top: 20px;
}


/*----------------------------------------------------------------------------*/
/* THEMES page */
/*----------------------------------------------------------------------------*/
#themes_square_holder_parent {
  position: relative;
  top: 40px;
}

#themes_square_holder {
  position: absolute;
  left: 10%;
  top: 40%;
  width: 80%;
}

.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid lightgray;
}

.square_text {
  display: inline-block;
}

#green_theme_square {
  background-color: #74d300;
}

#teal_theme_square {
  background-color: #2dd8bf;
}

#pink_theme_square {
  background-color: #ff91ca;
}

#orange_theme_square {
  background-color: #ffb30f;
}

#purple_theme_square {
  background-color: #b67fff;
}
