{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var talltales_init = "{{=URL('api', 'init_talltales')}}";
    var talltales_addplayer = "{{=URL('api', 'add_player_talltales')}}";
    var talltales_getgames = "{{=URL('api', 'get_games_talltales')}}";
    var get_nickname_url = "{{=URL('api', 'get_nickname')}}";
    var check_user_accounts_url = "{{=URL('api', 'check_user_accounts')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div> <!-- changed from <div id="themes_square_holder_parent"> because this broke it for me -jake -->

            <div id="themes_square_holder">
                <h1>pick a theme</h1>

                <div id="pink_theme" v-on:click="switch_theme(3)">
                    <div class="square" id="pink_theme_square"></div>
                    <div class="square_text">pink</div>
                </div>

                <div id="orange_theme" v-on:click="switch_theme(4)">
                    <div class="square" id="orange_theme_square"></div>
                    <div class="square_text">orange</div>
                </div>
                
                <div id="green_theme" v-on:click="switch_theme(1)">
                    <div class="square" id="green_theme_square"></div>
                    <div class="square_text">green</div>

                </div>

                <div id="teal_theme" v-on:click="switch_theme(2)">
                    <div class="square" id="teal_theme_square"></div>
                    <div class="square_text">turquoise</div>
                </div>

                <div id="purple_theme" v-on:click="switch_theme(5)">
                    <div class="square" id="purple_theme_square"></div>
                    <div class="square_text">purple</div>
                </div>


            </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>